{% block title %}{% endblock %}

{% block content %}
<div>
  <h1>Conquest by RightMouseButtonS</h1>
  <p>Login to your account!</p>

  {% if text %}
    <p>{{ text|lower }}</p>
  {% endif %}

  <form action="{{ url_for('login') }}" method="POST">
    <div>
      <label>Username</label>
      <input type="text" name="username">
    </div>

    <div>
      <label>Password</label>
      <input type="password" name="password">
    </div>

    <button type="submit">login</button>
  </form>

  <p>New? <a href="{{ url_for('register') }}">Create an account</a></p>
</div>
{% endblock %}
