{% extends "base.html" %}
{% block title %}Login | Conquest{% endblock %}

{% block content %}
<h1>Login</h1>

{%if text%}
  <p style="color:red;">{{ text }}</p>
{% endif %}

<form action="{{ url_for('login') }}" method="POST">
  <div>
    <label>Username</label>
    <input type="text" name="username" required>
  </div>

  <div>
    <label>Password</label>
    <input type="password" name="password" required>
  </div>

  <button type="submit">Login</button>
</form>

<p>
  Don't have an account? <a href="{{ url_for('register') }}">Register here</a>.
</p>
{% endblock %}
